.container {
    background-color: var(--color-ds);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container > nav {
    display: flex;
    width: 100%;

}

.container > nav > button {
    background: none;
    border: none;
    color: var(--color-ls);

    padding: var(--default-padding);
}
