.container {
    background-color: var(--color-ds);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container > nav {
    display: flex;
    width: 100%;

}

.container > nav > button {
    height: 2.5rem;
}
