.button {
    background-color: var(--color-ds);
    color: var(--color-ls);

    border: none;
    border-radius: var(--default-border-radius);
    padding: calc(var(--default-padding) / 2) var(--default-padding);
}
